* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  background-color: #e5e5fd;
  min-height: 100vh;
 border:10px solid #1d1e4c;
}

.content {
max-width: 900px;
margin: 0 auto;

}
.top_selection {
  margin-top: 100px;

 display: flex;
 justify-content: space-between;
 align-items: flex-end;

}
.top_selection h1{
  font-size: 50px;
  font-weight: bold;
  color: #1d1e4c;
  
}
.top_selection h4{
  font-size: 30px;
  text-align: end;
}

.image_container {
  border-radius: 50%;
  overflow: hidden;
}

.image_container,img {
  width: 300px;
  height: 320px;
}

.about_section {
  margin-top: 30px;
}

.about_section h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.about_section p{
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-align: justify;
}

.biographies h3 {
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}
.biographies ul{
  margin-left: 50px;
}

.biographies li{
  margin-bottom: 15px;
}
